#lomake {
    max-width:600px;
    
} 
fieldset {
    background-color: gainsboro;
    padding-top: 20px;    
    padding-bottom: 20px;
       
}

legend {
    font-size: xx-large;

}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
th, td {
    padding: 15px;
   
    text-align: left;
    padding: 8px;
    padding-left: 1px;
}
tr:nth-child(even) {
    background-color: #dddddd;
   
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

select {
 
    height: 25px;
}

/* classes */


.lbTitle {
    width:150px;
    display: inline-block;
    height: 25px;
}

.sButton {
    height: 25px;
    width: 150px;
    background-color: peachpuff;
    border-style: groove;  
    text-align: center; 
    cursor: pointer;
    border: 1px solid #2d6898;
}

.sButton:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.txtBox {
    width:400px ;
    display: inline-block;
    height: 19px;
}


/* ids */
#bCreate {
    /* todo: not working*/
    margin-left: 20px;
    
}

#bSearch {
    margin-left: 10px;
    
}

#txtFilmName{
    margin-right: 10px;
}